doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title 秘密の特定掲示板
  body
    h1 秘密の掲示板
    h2 新規投稿
    form(method="post" action="/posts")
      div
        textarea(name="cntent" cols=40 roes=4)
      div
        button(type="submit") 投稿